-- MySQL dump 10.13  Distrib 8.0.43, for Linux (x86_64)
--
-- Host: localhost    Database: portfolio
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `college_stats`
--

DROP TABLE IF EXISTS `college_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `college_stats` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `department` varchar(255) DEFAULT NULL,
  `fail_count` bigint DEFAULT NULL,
  `school` varchar(255) DEFAULT NULL,
  `student_count` bigint DEFAULT NULL,
  `success_count` bigint DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `college_stats`
--

LOCK TABLES `college_stats` WRITE;
/*!40000 ALTER TABLE `college_stats` DISABLE KEYS */;
/*!40000 ALTER TABLE `college_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dummy_user`
--

DROP TABLE IF EXISTS `dummy_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dummy_user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `lecture_id` bigint DEFAULT NULL,
  `student_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK4g1hdd3x844a1vh69c3bnmvku` (`lecture_id`),
  KEY `FKd6w5k9cgohivjkm9gucin9gsj` (`student_id`),
  CONSTRAINT `FK4g1hdd3x844a1vh69c3bnmvku` FOREIGN KEY (`lecture_id`) REFERENCES `lecture` (`lecture_id`),
  CONSTRAINT `FKd6w5k9cgohivjkm9gucin9gsj` FOREIGN KEY (`student_id`) REFERENCES `student` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dummy_user`
--

LOCK TABLES `dummy_user` WRITE;
/*!40000 ALTER TABLE `dummy_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `dummy_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enrollment_log`
--

DROP TABLE IF EXISTS `enrollment_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `enrollment_log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `status` enum('CANCELLED','FAIL','SUCCESS') DEFAULT NULL,
  `student_id` bigint NOT NULL,
  `lecture_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKhq1kjgddfqdmoakqq6hkyd328` (`lecture_id`),
  CONSTRAINT `FKhq1kjgddfqdmoakqq6hkyd328` FOREIGN KEY (`lecture_id`) REFERENCES `lecture` (`lecture_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enrollment_log`
--

LOCK TABLES `enrollment_log` WRITE;
/*!40000 ALTER TABLE `enrollment_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `enrollment_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lecture`
--

DROP TABLE IF EXISTS `lecture`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lecture` (
  `lecture_id` bigint NOT NULL AUTO_INCREMENT,
  `department` varchar(255) NOT NULL,
  `lecture_time` datetime(6) NOT NULL,
  `name` varchar(255) NOT NULL,
  `remaining_seats` int NOT NULL,
  `school` varchar(255) NOT NULL,
  `total_seats` int NOT NULL,
  `version` bigint DEFAULT NULL,
  PRIMARY KEY (`lecture_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lecture`
--

LOCK TABLES `lecture` WRITE;
/*!40000 ALTER TABLE `lecture` DISABLE KEYS */;
/*!40000 ALTER TABLE `lecture` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student`
--

DROP TABLE IF EXISTS `student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `difficulty` enum('EASY','HARD','MEDIUM') DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student`
--

LOCK TABLES `student` WRITE;
/*!40000 ALTER TABLE `student` DISABLE KEYS */;
/*!40000 ALTER TABLE `student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wished_lecture`
--

DROP TABLE IF EXISTS `wished_lecture`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wished_lecture` (
  `id` bigint NOT NULL,
  `competition` double NOT NULL,
  `status` varchar(255) DEFAULT NULL,
  `lecture_id` bigint DEFAULT NULL,
  `student_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKq6gtyscjioveh6thph6oka5fj` (`lecture_id`),
  KEY `FK6ny8vmuilcmxb6hfertydlp75` (`student_id`),
  CONSTRAINT `FK6ny8vmuilcmxb6hfertydlp75` FOREIGN KEY (`student_id`) REFERENCES `student` (`id`),
  CONSTRAINT `FKq6gtyscjioveh6thph6oka5fj` FOREIGN KEY (`lecture_id`) REFERENCES `lecture` (`lecture_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wished_lecture`
--

LOCK TABLES `wished_lecture` WRITE;
/*!40000 ALTER TABLE `wished_lecture` DISABLE KEYS */;
/*!40000 ALTER TABLE `wished_lecture` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wished_lecture_seq`
--

DROP TABLE IF EXISTS `wished_lecture_seq`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wished_lecture_seq` (
  `next_val` bigint DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wished_lecture_seq`
--

LOCK TABLES `wished_lecture_seq` WRITE;
/*!40000 ALTER TABLE `wished_lecture_seq` DISABLE KEYS */;
INSERT INTO `wished_lecture_seq` VALUES (1);
/*!40000 ALTER TABLE `wished_lecture_seq` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-17  7:54:22
