<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
  <form th:action="@{/lecture/new}" th:object="${form}" method="post">
    <div class="form-group">
      <label th:for="name">강의명</label>
      <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요" />
      <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div>
    </div>

    <div class="form-group">
      <label th:for="totalSeats">수강인원</label>
      <input type="number" th:field="*{totalSeats}" class="form-control" placeholder="총 좌석 수를 입력하세요" />
      <div th:if="${#fields.hasErrors('totalSeats')}" th:errors="*{totalSeats}" class="text-danger"></div>
    </div>

    <div class="form-group">
      <label th:for="lectureTime">강의시간</label>
      <input type="datetime-local" th:field="*{lectureTime}" class="form-control" />
    </div>

    <!-- Global error 메시지 -->
    <div th:if="${#fields.hasGlobalErrors()}" class="text-danger">
      <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <br />
  <div th:replace="fragments/footer :: footer"></div>
</div> <!-- /container -->
</body>
</html>
