spring:

  kafka:
    bootstrap-servers: localhost:9093
    consumer:
      group-id: sugang
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

  datasource:
    url: jdbc:mysql://${RDS_ENDPOINT:localhost}:3306/portfolio?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true&useSSL=false&rewriteBatchedStatements=true
    username: portfolio_user
    password: ${RDS_PASSWORD:portfolio1234}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 32

  devtools:
    livereload:
      enabled: true
    thymeleaf:
      cache: false
    restart:
      enabled: true

  jpa:
    #defer-datasource-initialization: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        jdbc:
          batch_size: 1000
        order_inserts: true
        order_updates: true
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
        session_factory:
          statement_inspector: Hello.Sugang.domain.QueryCountInspector
    database-platform: org.hibernate.dialect.MySQL8Dialect
  data:
    redis:
      host: localhost
      port: 6379


logging:
  level:
    org.springframework: info
# TODO: BulkInsert 모니터링 - 아래 주석을 해제해야함
#    com.mysql.cj: trace

jwt:
  secret: your-256-bit-secret-your-256-bit-secret-your-256-bit-secret-your-256-bit-secret
  token-validity-in-seconds: 86400  # 24시간

management:
  endpoints:
    web:
      exposure:
        include: "health,metrics,info,prometheus"
  endpoint:
    health:
      show-details: always  # 상세한 헬스 정보 표시

server:
  tomcat:
    threads:
      max: 1600
      min-spare: 50
    accept-count: 20000
    connection-timeout: 120000   # (기존 설정 유지)
  servlet:
    session:
      timeout: 120s                # 세션 타임아웃


